header{
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color:none ;
    height: 10vh;
    display: flex;
}

#bg-change{
    background-color: rgba(14, 14, 14, 0.699) ;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top .3s ease-in-out;
  }
nav{
    pointer-events: none;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -40px;
    transition: all .15s ease-in-out;
    &:hover{
        left: 0px;
        li{
            transform: translatex(0%);
        }
    }
    
}

#LOGO-bar{
    justify-content: center;
    align-items: center ;
    align-content:  center;
    text-align:  center;
    object-fit: fill;
    height: 100%;
    z-index: 100;
    width: 100%;
    background-color:none ;
    height: 10vh;
    display: flex;
}
#logo-bar-content{
    letter-spacing: 15px;
    font-size: clamp(1rem, 1.1vw, 80rem);
    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    cursor: pointer;
    transition: all .15s ease-in-out;
    &:hover{
        letter-spacing: 16px;
        color: rgb(48, 48, 48);
        text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
        transform: scale(101%);
    }
    animation: pulse-effect 3s infinite alternate ease-in-out;
    @keyframes pulse-effect {
        0%{

        }
        100%{
          
            text-shadow: 0px 0px 3px rgb(255, 255, 255);
            transform: scale(102%);
        }
    }
    @media (max-width:500px) {
        line-height: 1.4rem;
        
        
    }
   
}
ul{
    pointer-events: all;
    padding: 100px 17px 80px;
    justify-content: center;
    align-items: center ;
    align-content:  center;
    text-align:  center;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.14);
    position: relative;
    top: 50%;
    width: min-content;
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-direction: column;
    transform: translateY(-50%);
    transition: all .15s ease-in-out;
    height: 30vh;
   
    @media (max-height:900px) {
        padding: 100px 17px 75px;
        
    }
    &:hover{
        height: 100vh;
        border-radius: 0px 20px 20px 0px;
        background: rgba(255, 255, 255, 0.01);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.6px);
        -webkit-backdrop-filter: blur(5.6px);
        
        border: 1px solid rgba(255, 255, 255, 0.03);
        #menu-word{
            opacity: 0%;
            transform: rotate(90deg) translateY(-90%);
        }
    }
    #menu-word{
        font-weight: bold;
        pointer-events: none;
        letter-spacing: 20px;
        transition: all .15s ease-in-out;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
        position: absolute;
        transform: rotate(90deg) translateY(-100%);
        animation: pulse-effect-menu-word 1s infinite alternate ease-in-out;
        @keyframes pulse-effect-menu-word {
            0%{

            }
            100%{
                transform: rotate(90deg) translateY(-100%) scale(102%);
                text-shadow: 0px 0px 3px rgb(255, 255, 255);
            }
        }
    }
    li{
        transition: all .15s ease-in-out;
        transform: translateX(-100%);
        letter-spacing: 1px;
        font-size: clamp(1rem, 1vw, 500rem);
        cursor: pointer;
        &:hover{
            
            #description-menu-option{
                
                opacity: 100%;
                transform: translate(80px,-31px);
                color: rgb(255, 255, 255);
                text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
            }
        }
        #description-menu-option{
            transition: all .15s ease-in-out;
            opacity: 0%;
            pointer-events: none;
            position: absolute;
            transform: translate(60px,-3px);
        }
        #img-svg-menu-option{
            transition: all .15s ease-in-out;
            fill: rgb(255, 255, 255);
            width: 35px;
          &:hover{
            color: rgb(48, 48, 48);
        text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
            fill: rgb(48, 48, 48);
          }
        }
    }
    a{
        text-decoration: none;
    }
    @media (max-width:1625px) {
      
    }
}
