.preload{
    display: block;
    pointer-events:all;
    background-color: rgb(12, 12, 12);
    overflow: hidden;
    height: 0vh;
    width: 0vw;
    z-index: 1000;
    justify-content: center;
    align-items:center ;
    align-content: center;
    text-align: center;
    animation: hidde-load 3s alternate infinite ease-in-out;
    @keyframes hidde-load {
      0%{

      }
      100%{
        
       
      }
      
    }
}
#vid-preload{
  position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    left: 0;
    object-fit: cover;
    z-index: 1000;

}
#content_preload{
    z-index: 1000;
    position: fixed;
    justify-content: center;
    align-items:center ;
    align-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.062);
    width: 25%;
    min-width: 220px;
    height: .2vh;
    z-index: 1001;
    left: 50%;
    bottom:  50%;
    transform: translateX(-50%);
    overflow: hidden;
}
#overflow_animation{
    z-index: 1000;
    justify-content: center;
    align-items:center ;
    align-content: center;
    text-align: center;
    margin:0vh auto;
    background-color: rgb(168, 35, 35);
    height: 100%;
    z-index: 1002;
    animation: bar_animation .6s infinite alternate ease-in-out;
    
    @keyframes bar_animation {
      0%{
        transform: translateX(-120%);
        width: 30%;
        background-color: rgb(255, 0, 0);
      }

      100%{
        background-color: rgb(0, 110, 255);
        width: 60%;
        transform: translateX(60%);
      }
    }
  }