#Services{    
    min-height: 100vh;
    max-height: max-content !important;
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 2%;
    justify-content: center;
    justify-items: center;
    @media (max-width:900px) {
        grid-template-columns: auto ;
        row-gap: 0%;
    }
}

#service-block-1,
#service-block-2,
#service-block-3{
    
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 20px 0px 0px 20px;
    width: 25vw;
    height: 50vh;
    text-align: center;
    padding: 30px 10px 0px 10px;
    background-color: rgba(15, 15, 15, 0.616);
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    @media (max-width:900px) {
        height:70vh;
        width: 90%;
        padding: 0px 0px 30px 0px;
        border-radius: 0px 0px 0px 0px;
        margin-top: 15vh;
    }
    &:hover{
        #services-block-text{
            color: rgb(255, 255, 255);
        }  
        button{
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.842);
            background-color: white;
            
        }
    }
    button{
        @media (max-width:900px) {
            background-color: white;
            box-shadow: 0px 0px 15px rgb(255, 255, 255);
        }
        justify-content: center;
        width: 90%;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 20px;
        font-size: clamp(0.8rem, .8vw, 2rem);
        border: none;
        background-color: rgba(255, 255, 255, 0.753);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.404);
        &:hover{
            box-shadow: 0px 0px 15px rgb(255, 255, 255);
        }
        
    }
}

#services-block-img{ 
   
}
#services-click-to-see-more{
 
}
#services-block-img-source{
    object-fit: cover;
    height: 30vh;
    width: 100%;
    border-radius: 0px 50px;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    @media (max-width:900px) {
      
        border-radius: 0px 0px 0px 0px;
    }
}
#services-block-text{
    h1{
        text-align: center;
        text-transform: uppercase;
    }
    padding: 20px 10px;
    color: rgb(61, 61, 61);
    transition: all .3s ease-in-out;
    text-align: left !important;
    @media (max-width:900px) {
        color: white;
       
    }
}
