#Services{    
    min-height: 100vh;
    max-height: max-content !important;
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 2%;
    justify-content: center;
    justify-items: center;
    row-gap: 2%;
    @media (max-width:900px) {
        grid-template-columns: auto ;
        row-gap: 4%;
    }
}
#service-block-1,
#service-block-2,
#service-block-3{
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 20px 0px 0px 20px;
    width: 25vw;
    height: 50vh;
    
    padding: 30px 10px;
    background-color: rgba(15, 15, 15, 0.616);
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    @media (max-width:900px) {
        height:70vh;
        width: 90%;
        padding: 0px 0px;
        border-radius: 0px 0px 0px 0px;
    }
    &:hover{
        #services-block-text{
            color: rgb(255, 255, 255);
        }  
    }
}

#services-block-img{ 
   
}
#services-click-to-see-more{
 
}
#services-block-img-source{
    object-fit: cover;
    height: 30vh;
    width: 100%;
    border-radius: 0px 50px;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    @media (max-width:900px) {
      
        border-radius: 0px 0px 0px 0px;
    }
}
#services-block-text{
    padding: 20px 10px;
    color: rgb(34, 34, 34);
    transition: all .3s ease-in-out;
    @media (max-width:900px) {
        color: white;
        text-align: center;
    }
}
