.preload {
  display: block;
  pointer-events: all;
  background-color: rgb(12, 12, 12);
  overflow: hidden;
  height: 0vh;
  width: 0vw;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#vid-preload {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1000;
}

#content_preload {
  z-index: 1000;
  position: fixed;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.062);
  width: 25%;
  min-width: 220px;
  height: 0.2vh;
  z-index: 1001;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#overflow_animation {
  z-index: 1000;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0vh auto;
  background-color: rgb(168, 35, 35);
  height: 100%;
  z-index: 1002;
  -webkit-animation: bar_animation 0.6s infinite alternate ease-in-out;
          animation: bar_animation 0.6s infinite alternate ease-in-out;
}
@-webkit-keyframes bar_animation {
  0% {
    transform: translateX(-120%);
    width: 30%;
    background-color: rgb(255, 0, 0);
  }
  100% {
    background-color: rgb(0, 110, 255);
    width: 60%;
    transform: translateX(60%);
  }
}
@keyframes bar_animation {
  0% {
    transform: translateX(-120%);
    width: 30%;
    background-color: rgb(255, 0, 0);
  }
  100% {
    background-color: rgb(0, 110, 255);
    width: 60%;
    transform: translateX(60%);
  }
}

header {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: none;
  height: 10vh;
  display: flex;
}

#bg-change {
  background-color: rgba(14, 14, 14, 0.699);
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s ease-in-out;
}

nav {
  pointer-events: none;
  height: 100vh;
  position: fixed;
  bottom: 0px;
  left: -40px;
  transition: all 0.15s ease-in-out;
}
nav:hover {
  left: 0px;
}
nav:hover li {
  transform: translatex(0%);
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    position: fixed;
    flex-direction: row;
    bottom: 0px;
    padding: 0px;
    transform: translateY(0%);
    height: 10vh;
    gap: 0%;
    left: 0;
  }
}

#LOGO-bar {
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  z-index: 100;
  width: 100%;
  background-color: none;
  height: 10vh;
  display: flex;
}
@media (max-width: 500px) {
  #LOGO-bar {
    transform: translateX(1.5%);
  }
}
#LOGO-bar a {
  text-decoration: none;
}

#logo-bar-content {
  letter-spacing: 15px;
  font-size: clamp(1rem, 1.1vw, 80rem);
  color: white;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  -webkit-animation: pulse-effect 3s infinite alternate ease-in-out;
          animation: pulse-effect 3s infinite alternate ease-in-out;
}
#logo-bar-content:hover {
  letter-spacing: 16px;
  color: rgb(48, 48, 48);
  text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
  transform: scale(101%);
}
@-webkit-keyframes pulse-effect {
  100% {
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    transform: scale(102%);
  }
}
@keyframes pulse-effect {
  100% {
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    transform: scale(102%);
  }
}
@media (max-width: 500px) {
  #logo-bar-content {
    line-height: 1.4rem;
  }
}

ul {
  pointer-events: all;
  padding: 100px 17px 80px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  position: relative;
  top: 50%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  transform: translateY(-50%);
  transition: all 0.15s ease-in-out;
  height: 30vh;
}
@media (max-height: 900px) {
  ul {
    padding: 100px 17px 75px;
  }
}
@media (max-width: 500px) {
  ul {
    width: 100%;
    position: fixed;
    flex-direction: row;
    bottom: 0px;
    padding: 15px 0px 80px 0px;
    transform: translateY(0%);
    height: 5rem;
    gap: 20%;
    border-radius: 0px 0px 0px 0px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.03);
  }
}
ul:hover {
  height: 100vh;
  border-radius: 0px 20px 20px 0px;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}
@media (max-width: 500px) {
  ul:hover {
    height: 5rem;
    border-radius: 0px 0px 0px 0px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.03);
  }
}
ul:hover #menu-word {
  opacity: 0%;
  transform: rotate(90deg) translateY(-90%);
}
ul #menu-word {
  font-weight: bold;
  pointer-events: none;
  letter-spacing: 20px;
  transition: all 0.15s ease-in-out;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  position: absolute;
  transform: rotate(90deg) translateY(-100%);
  -webkit-animation: pulse-effect-menu-word 1s infinite alternate ease-in-out;
          animation: pulse-effect-menu-word 1s infinite alternate ease-in-out;
}
@-webkit-keyframes pulse-effect-menu-word {
  100% {
    transform: rotate(90deg) translateY(-100%) scale(102%);
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
  }
}
@keyframes pulse-effect-menu-word {
  100% {
    transform: rotate(90deg) translateY(-100%) scale(102%);
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
  }
}
@media (max-width: 500px) {
  ul #menu-word {
    display: none;
  }
}
ul li {
  transition: all 0.15s ease-in-out;
  transform: translateX(-100%);
  letter-spacing: 1px;
  font-size: clamp(1rem, 1vw, 500rem);
  cursor: pointer;
}
ul li:hover #description-menu-option {
  opacity: 100%;
  transform: translate(80px, -31px);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
}
@media (max-width: 500px) {
  ul li:hover #description-menu-option {
    display: none;
  }
}
@media (max-width: 500px) {
  ul li {
    transform: translateX(0%);
  }
}
ul li #description-menu-option {
  transition: all 0.15s ease-in-out;
  opacity: 0%;
  pointer-events: none;
  position: absolute;
  transform: translate(60px, -31px);
}
@media (max-width: 500px) {
  ul li #description-menu-option {
    display: none;
  }
}
ul li #img-svg-menu-option {
  transition: all 0.15s ease-in-out;
  fill: rgb(255, 255, 255);
  width: 35px;
}
ul li #img-svg-menu-option:hover {
  color: rgb(48, 48, 48);
  text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
  fill: rgb(48, 48, 48);
}
ul a {
  text-decoration: none;
}
#vid-main {
  pointer-events: none;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 80vh;
  z-index: 2;
}

#vid-gradient {
  position: absolute;
  pointer-events: none;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 80vh;
  z-index: 3;
  background: rgb(10, 10, 10);
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, rgb(10, 10, 10) 100%);
}

#scroll-down {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4 !important;
}

#scroll-down-arrow {
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  width: 70px;
  fill: rgb(133, 133, 133);
  -webkit-animation: pulse-effect-scroll-down 0.8s infinite alternate ease-in-out;
          animation: pulse-effect-scroll-down 0.8s infinite alternate ease-in-out;
}
#scroll-down-arrow:hover {
  fill: rgb(185, 1, 1) !important;
  transform: scale(110%);
  box-shadow: 0px 0px 120px rgb(48, 0, 0) !important;
}
@-webkit-keyframes pulse-effect-scroll-down {
  100% {
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.527);
    fill: rgb(255, 255, 255);
  }
}
@keyframes pulse-effect-scroll-down {
  100% {
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.527);
    fill: rgb(255, 255, 255);
  }
}

* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", cursive;
  color: rgb(41, 41, 41);
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a0a0a;
  height: 200vh;
}

#gradient_effect {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%);
  position: fixed;
  height: 100vh;
  z-index: 99;
  width: 100%;
  top: 0;
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(26, 26, 26);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

section {
  height: 100vh;
  overflow: hidden;
  clear: both;
}/*# sourceMappingURL=style.css.map */