.preload {
  display: block;
  pointer-events: all;
  background-color: rgb(12, 12, 12);
  overflow: hidden;
  height: 0vh;
  width: 0vw;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  -webkit-animation: hidde-load 3s alternate infinite ease-in-out;
          animation: hidde-load 3s alternate infinite ease-in-out;
}
@-webkit-keyframes hidde-load {}
@keyframes hidde-load {}

#vid-preload {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1000;
}

#content_preload {
  z-index: 1000;
  position: fixed;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.062);
  width: 25%;
  min-width: 220px;
  height: 0.2vh;
  z-index: 1001;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#overflow_animation {
  z-index: 1000;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0vh auto;
  background-color: rgb(168, 35, 35);
  height: 100%;
  z-index: 1002;
  -webkit-animation: bar_animation 0.6s infinite alternate ease-in-out;
          animation: bar_animation 0.6s infinite alternate ease-in-out;
}
@-webkit-keyframes bar_animation {
  0% {
    transform: translateX(-120%);
    width: 30%;
    background-color: rgb(255, 0, 0);
  }
  100% {
    background-color: rgb(0, 110, 255);
    width: 60%;
    transform: translateX(60%);
  }
}
@keyframes bar_animation {
  0% {
    transform: translateX(-120%);
    width: 30%;
    background-color: rgb(255, 0, 0);
  }
  100% {
    background-color: rgb(0, 110, 255);
    width: 60%;
    transform: translateX(60%);
  }
}

header {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: none;
  height: 10vh;
  display: flex;
}

#bg-change {
  background-color: rgba(14, 14, 14, 0.699);
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s ease-in-out;
}

nav {
  margin-right: 5%;
  justify-content: right;
  align-items: right;
  align-content: right;
  text-align: right;
  display: flex;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  right: 0;
  top: 0;
  transition: all 0.15s ease-in-out;
}
#img-bar {
  margin-left: 10%;
  margin-top: clamp(0.8rem, 2.5vh, 100rem);
  height: 80%;
  width: 1;
}

#LOGO-bar {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  z-index: 100;
  width: 100%;
  background-color: none;
  height: 10vh;
  display: flex;
}

#logo-bar-content {
  letter-spacing: 15px;
  font-size: clamp(0.8rem, 1.1vw, 50rem);
  color: white;
  text-shadow: 0px 0px 10px rgb(235, 235, 235);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  -webkit-animation: pulse-effect 4s infinite alternate ease-in-out;
          animation: pulse-effect 4s infinite alternate ease-in-out;
}
#logo-bar-content:hover {
  letter-spacing: 16px;
  color: rgb(48, 48, 48);
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  transform: scale(101%);
}
@-webkit-keyframes pulse-effect {
  100% {
    letter-spacing: 16px;
  }
}
@keyframes pulse-effect {
  100% {
    letter-spacing: 16px;
  }
}
@media (max-width: 500px) {
  #logo-bar-content {
    line-height: 1.4rem;
  }
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 100px;
}
ul li {
  letter-spacing: 1px;
  font-size: clamp(1rem, 1vw, 500rem);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  color: white;
}
ul li:hover {
  color: rgb(255, 0, 0);
  text-shadow: 0px 0px 10px rgb(255, 0, 0);
  transform: scale(101%);
}
ul a {
  text-decoration: none;
}
@media (max-width: 1625px) {
  ul {
    display: none;
  }
}

#vid-main {
  pointer-events: none;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 80vh;
}

* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  color: rgb(41, 41, 41);
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  height: 200vh;
}

#gradient_effect {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%);
  position: fixed;
  height: 100vh;
  z-index: 99;
  width: 100%;
  top: 0;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(26, 26, 26);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}/*# sourceMappingURL=style.css.map */