@import './preload';
@import './menu_bar';
@import './main';
@import './services';
@import './script-style';
@import './Contact';
@import './about';
*{
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: auto 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
body{
    font-family: 'Comfortaa', cursive;
    color: rgb(41, 41, 41);
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a0a0a;
    
}
#gradient_effect{
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 85%, rgba(0,0,0,1) 95%);
    position: fixed;
    height: 100vh;
    z-index: 99;
    width: 100%;
    top: 0;
    pointer-events: none; 
}
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(26, 26, 26); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0); 
  }
section{

}
#Welome{
  height: 100vh;
}
